/* START: HEADER DEFINITIONS */
#navbar-top { /* Top navigation bar (brand, search, collapsable menu) */
  background-color: #0051E0;
}
#logo-img { /* Brand logo */
  background: url('../images/logo_144x39.png') no-repeat;
  width: 144px;
  height: 39px;
}

#se-form { /* Search engine form */
  width: 100%;
  max-width: 45%;
}
#se-img-engine {
  width: 16px;
  height: 16px;
}
#se-btn-engine:hover,
#se-btn-go:hover {
  cursor: pointer;
}
#se-dropdown a:hover {
  background-color: #0051E0;
  color: #FFFFFF;
}

#main-toggler-button { /* Change collapsable button color */
  border: 1px solid #66CCFF;
}
#main-toggler-icon { /* Change collapsable image color */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102, 204, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* END: HEADER DEFINITIONS */

/* START: NAVBAR MENU DEFINITIONS */
#navbar-menu {
  background-color: #66CCFF;
}
/* END: NAVBAR MENU DEFINITIONS */

/* START: MAIN DEFINITIONS */
.box {
  border: 1px solid #A0A0A0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, .5);
}

.box-title {
  background-color: #A0A0A0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: -1px;
  margin-right: -1px;
  padding-right: 11px;
  padding-left: 11px;
  line-height: 1.75rem;
}

.box-content {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 1.25rem;
}

.box-article-rss {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-article-rss > a {
  color: black;
}
.box-article-rss > a:visited {
  color: grey;
}
.box-article-rss > a:hover {
  color: #0051E0;
  text-decoration: none;
}
.box-article-rss > a > .fa {
  width: 20px;
}



.box > nav {
  background-color: #A0A0A0;
  padding-right: 10px;
  padding-left: 10px;
}

.box-title > a {
  color: #000000;
}

.box-title > a:hover {
  color: #000000;
  text-decoration: none;
}

/* END: MAIN DEFINITIONS */